<!DOCTYPE html>
<html lang="zh_CN">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link
            rel="stylesheet"
            href="<%= BASE_URL %>/libs/tinymce/static/styles/index.min.css"
        />
    </head>

    <body>
        <div class="container">
            <div id="basic">
                <h4>下划线</h4>
                <p>
                    视频提供了功能强大的方法帮助您证明您的观点。当<span
                        class="xe-underline"
                        >您单击联机视频时，可以在想要添加的视频的嵌入代码中进行粘贴。您也可以键入一个关键字以联机搜索最适合您的文档的视频。为使您的</span
                    >文档具有专业外观，Word
                    提供了页眉、页脚、封面和文本框设计，这些设计可互为补充。例如，您可以添加匹配的封面、页眉和提要栏。
                </p>
                <h4>双下划线</h4>
                <p>
                    单击“插入”，然后从不同库中选<span
                        class="xe-underdoubleline"
                        >择所需元素。主题和样式也有助于文档保持协调。当您单击设计并选择新的主题时，图片、图表或
                        SmartArt
                        图形将会更改以匹配新的主题。当应用样式时，您的标题会</span
                    >进行更改以匹配新的主题。使用在需要位置出现的新按钮在 Word
                    中保存时间。
                </p>
                <h4>波浪线</h4>
                <p>
                    若要更改图片适应文档的方式，请<span
                        class="xe-underwavy"
                        >单击该图片，图片旁边将会显示布局选项按钮。当处理表格时，单击要添加行或列的位置，然后单击加号。在新的阅读视图中阅读更加容易。可以折叠文档某些部分并关</span
                    >注所需文本。如果在达到结尾处之前需要停止读取，Word
                    会记住您的停止位置 - 即使在另一个设备上。
                </p>
                <h4>加点字</h4>
                <p>
                    在新的阅读视图中阅读更加容易。可以折叠文<span
                        class="xe-underpoint"
                        >档某些部分并关注所需文本。如果在达到结尾处之前需要停止读取，Word
                        会记住您的停止位置 -
                        即使在另一个设备上。视频提供了功能强大的方法</span
                    >帮助您证明您的观点。当您单击联机视频时，可以在想要添加的视频的嵌入代码中进行粘贴。您也可以键入一个关键字以联机搜索最适合您的文档的视频。
                </p>
                <h4>拼音</h4>
                <p>
                    <span
                        class="xe-pinyin-group"
                        contenteditable="false"
                        data-name="pinyin"
                        data-content='{"chinese":"示例","pinyin":"shi li","showTianzige":true}'
                        ><span class="xe-pinyin"
                            ><ruby
                                ><span class="xe-tianzige"
                                    ><span
                                        class="xe-tianzige__text"
                                        data-placeholder="1"
                                        >示</span
                                    ></span
                                >
                                <rt>shi</rt>
                            </ruby></span
                        ><span class="xe-pinyin"
                            ><ruby
                                ><span class="xe-tianzige"
                                    ><span
                                        class="xe-tianzige__text"
                                        data-placeholder="1"
                                        >例</span
                                    ></span
                                >
                                <rt>li</rt>
                            </ruby></span
                        ></span
                    >
                </p>
                <h4>公式</h4>
                <p>
                    <span
                        class="xe-formula"
                        contenteditable="false"
                        data-name="formula"
                        data-content='{"content":"\\ce{SO4^2- + Ba^2+ -> BaSO4 v} "}'
                        >$$\ce{SO4^2- + Ba^2+ -&gt; BaSO4 v} $$</span
                    >
                </p>
                <h4>填空</h4>
                <p>
                    《&nbsp;<span class="xe-blank" data-name="blank"
                        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
                    >
                    》被称为“苦心孤诣教子篇”，傅雷教育儿子胜不骄、败不馁，要有国家和民族的荣誉荣辱感，做一个“&nbsp;<span
                        class="xe-blank"
                        data-name="blank"
                        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
                    >
                    、&nbsp;<span class="xe-blank" data-name="blank"
                        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
                    >&nbsp;的艺术家”。
                </p>
                <h4>序号填空</h4>
                <p>
                    《&nbsp;<span
                        contenteditable="false"
                        class="xe-blanknumber"
                        data-name="blanknumber"
                        data-content='{"content":"1"}'
                        >1</span
                    >
                    》被称为“苦心孤诣教子篇”，傅雷教育儿子胜不骄、败不馁，要有国家和民族的荣誉荣辱感，做一个“&nbsp;<span
                        contenteditable="false"
                        class="xe-blanknumber"
                        data-name="blanknumber"
                        data-content='{"content":"2"}'
                        >2</span
                    >
                    、&nbsp;<span
                        contenteditable="false"
                        class="xe-blanknumber"
                        data-name="blanknumber"
                        data-content='{"content":"3"}'
                        >3</span
                    >&nbsp;的艺术家”。
                </p>
                <h4>括号填空</h4>
                <p>
                    下列括号内的词不是古今异义词的一项是<span
                        class="xe-blankbracket"
                        data-name="blankbracket"
                    >
                        <span class="xe-blankbracket" data-name="blankbracket"
                            >(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</span
                        > </span
                    ><span
                        contenteditable="false"
                        class="xe-blankbracket"
                        data-name="blankbracket"
                        data-placeholder="1"
                    ></span>
                </p>
            </div>
        </div>

        <script src="<%= BASE_URL %>/libs/tinymce/tinymce.min.js"></script>
        <script src="<%= BASE_URL %>/libs/tinymce/langs/zh_CN.js"></script>
        <script src="<%= BASE_URL %>/libs/tinymce/static/js/mathjax.config.min.js"></script>
        <script src="<%= BASE_URL %>/libs/mathjax-3.2.0/es5/tex-svg-full.js"></script>
    </body>
</html>
